{% extends "base.html" %}
{% block title %}{{ board_name }} | {% endblock %}
{% block body %}
  <h1>{{ board_name }}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="sr-only" for="subject">Subject</label>
          {{ form.subject }}
        </div>
        <div class="form-group">
          <label class="sr-only" for="requester">Requester</label>
          {{ form.requester }}
        </div>
        <div class="form-group">
          <label class="sr-only" for="comment">Comment</label>
          {{ form.comment }}
        </div>
        <div class="form-group">
          <label class="sr-only" for="tags">Tags</label>
          {{ form.tags }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="assignee">Assignee</label>
          {{ form.assignee }}
        </div>
        <div class="form-group">
          <label for="group">Group</label>
          {{ form.group }}
        </div>
        <div class="form-group">
          <label for="ticket_type">Ticket Type</label>
          {{ form.ticket_type }}
        </div>
        <div class="form-group">
          <label for="priority">Priority</label>
          {{ form.priority }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="sr-only" for="private_comment">Private Comment</label>
          {{ form.private_comment }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-default">Add New Ticket</button>
      </div>
    </div>
    {{ form.board }}
  </form>

  <a href="{% url 'board_tickets_create' board_slug %}">Create Tickets</a> | <a href="{% url 'board_reset' board_slug %}">Reset Tickets</a>

  <table class="table table-bordered table-condensed table-hover">
    <tr class="active">
    {% spaceless %}
      <th width="7%"></th>
      <th>Subject</th>
      <th>Comment</th>
      <th>Requester</th>
      <th>Assignee</th>
      <th>Group</th>
      <th>Ticket Type</th>
      <th>Priority</th>
      <th>Tags</th>
      <th>Private Comment</th>
      <th>Zendesk Ticket ID</th>
    {% endspaceless %}
    </tr>
    {% for each in tickets %}
      {% spaceless %}
      <tr>
        <td><a href="{% url 'ticket_edit' each.id %}">Edit</a> | <a href="{% url 'ticket_delete' each.id %}">Delete</a></td>
        <td>{{ each.subject }}</td>
        <td>{{ each.comment }}</td>
        <td>{{ each.requester }}</td>
        <td>{{ each.assignee }}</td>
        <td>{{ each.group }}</td>
        <td>{{ each.ticket_type }}</td>
        <td>{{ each.priority }}</td>
        <td>{{ each.tags }}</td>
        <td>{{ each.private_comment }}</td>
        <td>{% if each.zendesk_ticket_id %}<a href="{{ zendesk_ticket_url }}{{ each.zendesk_ticket_id }}" target="_blank">{{ each.zendesk_ticket_id }}</a>{% else %}{% endif %}</td>
      </tr>
      {% endspaceless %}
    {% endfor %}
  </table>
{% endblock %}
