<h1>{{ board_name }}</h1>

<form method="post">
  {% csrf_token %}
  <table>
    <tr>
    {% spaceless %}
      <th>Subject</th>
      <th>Comment</th>
      <th>Requester</th>
      <th>Assignee</th>
      <th>Group</th>
      <th>Ticket Type</th>
      <th>Priority</th>
      <th>Tags</th>
      <th>Private Comment</th>
    {% endspaceless %}
    </tr>
    <tr>
      <td>{{ form.subject }}</td>
      <td>{{ form.comment }}</td>
      <td>{{ form.requester }}</td>
      <td>{{ form.assignee }}</td>
      <td>{{ form.group }}</td>
      <td>{{ form.ticket_type }}</td>
      <td>{{ form.priority }}</td>
      <td>{{ form.tags }}</td>
      <td>{{ form.private_comment }}</td>
    </tr>
    <tr>
      <td><input type="submit"></td>
    </tr>
  </table>
  {{ form.board }}
</form>

<a href="{% url 'board_tickets_create' %}">Create Tickets</a> | <a href="{% url 'board_reset' board_slug %}">Reset Tickets</a>
<table border="1">
  <tr>
  {% spaceless %}
    <th></th>
    <th>Subject</th>
    <th>Comment</th>
    <th>Requester</th>
    <th>Requester ID</th>
    <th>Assignee</th>
    <th>Group</th>
    <th>Ticket Type</th>
    <th>Priority</th>
    <th>Tags</th>
    <th>Private Comment</th>
    <th>Zendesk Ticket ID</th>
  {% endspaceless %}
  </tr>
  {% for each in tickets %}
    {% spaceless %}
    <tr>
      <td><a href="{% url 'ticket_edit' each.id %}">Edit</a> | <a href="{% url 'ticket_delete' each.id %}">Delete</a></td>
      <td>{{ each.subject }}</td>
      <td>{{ each.comment }}</td>
      <td>{{ each.requester }}</td>
      <td>{{ each.requester_id }}</td>
      <td>{{ each.assignee }}</td>
      <td>{{ each.group }}</td>
      <td>{{ each.ticket_type }}</td>
      <td>{{ each.priority }}</td>
      <td>{{ each.tags }}</td>
      <td>{{ each.private_comment }}</td>
      <td>{% if each.zendesk_ticket_id %}<a href="{{ zendesk_ticket_url }}{{ each.zendesk_ticket_id }}" target="_blank">{{ each.zendesk_ticket_id }}</a>{% else %}{% endif %}</td>
    </tr>
    {% endspaceless %}
  {% endfor %}
</table>
