{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% block title %}{{ board_name }} | {% endblock %}
{% block style %}
  #presenceDiv img {
    width: 30px;
    height: 30px;
    margin-right: 2px;
  }
  .btn-is-disabled {
    pointer-events: none;
  }
{% endblock %}
{% block body %}
{% spaceless %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <section class="section">
            <div class="nav menu">
              <div class="container">
                <h4 class="title is-4">
                  <a href="{% url 'board_single' board_slug %}">{{ board_name }}</a>
                </h4>
                <div class="nav-right is-hidden-mobile">
                  <div class="block">
                    <a class="button modal-button" data-target="#modal-add-ticket"> <span class="icon"><i class="fa fa-plus"></i></span>&nbsp;&nbsp;Add New Ticket</a>&nbsp;
                    <a id="create-zendesk-tickets" href="{% url 'board_tickets_create' board_slug %}{% if cycle %}?cycle={{ cycle }}{% endif %}" class="button is-success is-outlined">Create Tickets</a>&nbsp;
                    <a href="{% url 'board_requesters_reset' board_slug %}" class="button is-danger is-outlined">Reset Requesters</a>&nbsp;
                    <a href="{% url 'board_reset' board_slug %}" class="button is-warning is-outlined">Reset Tickets</a>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </section>
          <div class="box">
            <article class="media">
              {{ ticket_update_once_form.subject }}
              {{ ticket_update_once_form.requester }}
              {{ ticket_update_once_form.tags }}
              {{ ticket_update_once_form.due_at }}
              <span class="select">
                {{ ticket_update_once_form.assignee }}
              </span>
              <button id="button_edit_once_form" type="submit" class="button is-focused" onclick="edit_once();">Edit rows</button>
            </article>
          </div>
          <div class="box" style="overflow: auto;">
            {% spaceless %}
              {% render_table tickets %}
            {% endspaceless %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="modal-add-ticket" class="modal">
    <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add New Ticket</p>
        </header>
        <form method="post">
          {% csrf_token %}
          <section class="modal-card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="sr-only" for="subject">Subject</label>
                  {{ form.subject }}
                </div>
                <div class="form-group">
                  <label class="sr-only" for="requester">Requester</label>
                  {{ form.requester }}
                </div>
                <div class="form-group">
                  <label for="created_by">Created By</label>
                  {{ form.created_by }}
                </div>
                <div class="form-group">
                  <label class="sr-only" for="comment">Comment</label>
                  {{ form.comment }}
                </div>
                <div class="form-group">
                  <label class="sr-only" for="tags">Tags</label>
                  {{ form.tags }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="assignee">Assignee</label>
                  {{ form.assignee }}
                </div>
                <div class="form-group">
                  <label for="group">Group</label>
                  {{ form.group }}
                </div>
                <div class="form-group">
                  <label for="ticket_type">Ticket Type</label>
                  {{ form.ticket_type }}
                </div>
                <div class="form-group" id="due_at" style="display:none">
                  <label for="due_at">Due Date</label>
                  {{ form.due_at }}
                </div>
                <div class="form-group">
                  <label for="priority">Priority</label>
                  {{ form.priority }}
                </div>
                <div class="form-group">
                  <label for="cycle">Cycle</label>
                  {{ form.cycle }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="sr-only" for="private_comment">Private Comment</label>
                  {{ form.private_comment }}
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-default button is-success">Add New Ticket</button>&nbsp;
                <a class="button button-cancel">Cancel</a>
              </div>
            </div>
          </section>
          {{ form.board }}
        </form>
      </div>
  </div>
{% endspaceless %}
{% endblock %}
{% block javascript %}
<script src="{% static 'js/firebase.js' %}"></script>
<script src="{% static 'js/presence.js' %}"></script>
<script>
  const config = {
    apiKey: "{{ firebase_api_key }}",
    authDomain: "{{ firebase_auth_domain }}",
    databaseURL: "{{ firebase_database_url }}",
    projectId: "{{ firebase_project_id }}",
    storageBucket: "{{ firebase_storage_bucket }}",
    messagingSenderId: "{{ firebase_messaging_sender_id }}"
  }
  firebase.initializeApp(config)

  const name = "{{ request.user.username }}"

  var userListRef = firebase.database().ref("users_online/{{ board_slug }}")
  var myUserRef = userListRef.push()

  var connectedRef = firebase.database().ref(".info/connected")
  connectedRef.on("value", function(snapshot) {
    if (snapshot.val()) {
      // If we lose network then remove this user from the list
      myUserRef.onDisconnect().remove()
      myUserRef.set({name: name});
    }
  })

  userListRef.on("child_added", function(snapshot) {
    const user = snapshot.val()
    const iconId = Math.floor(Math.random() * icons.length)
    const backgroundColorId = Math.floor(Math.random() * backgroundColor.length)
    const img = "<img class='img-presence' src='{% static 'img' %}/icons/" + icons[iconId] + "' title='" + user.name + "' alt='" + user.name + "' style='background-color: " + backgroundColor[backgroundColorId] + ";' />"
    $("#presenceDiv").append($(img).attr("id", user.name))
    $("#" + user.name).text(user.name)
  })

  userListRef.on("child_removed", function(snapshot) {
    const user = snapshot.val()
    $("#" + user.name).remove()
  })

  jQuery(document).ready(function($) {
    $(".modal-button").click(function() {
      var target = $(this).data("target");
      $(target).addClass("is-active");
    });

    $(".modal-background, .modal-close").click(function() {
      $(this).parent().removeClass("is-active");
    });

    $(".modal-card-head .delete, .modal-card-foot, .button-cancel").click(function() {
      $("#modal-add-ticket").removeClass("is-active");
      $("#modal-edit-ticket").removeClass("is-active");
    });

    $('.check :checkbox').click(function() {
      const checked = $('.check :checkbox:checked')
      const ticket_ids = checked.map(function() {
        if (this.value !== 'on') {
          return this.value
        }
      }).get()

      const original_href = '{% url "board_tickets_create" board_slug %}'
      if (ticket_ids.length > 0) {
        $('#create-zendesk-tickets').attr('href', original_href + '?tickets=' + ticket_ids.join(','))
      } else {
        $('#create-zendesk-tickets').attr('href', original_href)
      }
    })
  });
</script>
<script src="{% static 'js/app.js' %}" type="text/javascript"></script>
{% endblock %}
